html {
  min-height: 100%;
  box-sizing: border-box;
  font-size: 10px;
  background: #1f2229;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  min-width: 320px;
  margin: 0;
  background: inherit;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}

* {
  max-height: 20000px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

article, aside, details, figcaption,
figure, footer, header, hgroup,
main, nav, section, summary {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: none;
}

a {
  text-decoration: none;
  color: #1f2229;
  outline: none;
}

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input, textarea, select {
  font: 100% "tele2_sans", sans-serif;
  color: #1f2229;
  vertical-align: middle;
  outline: none;
  border-radius: 0;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
  outline: none;
}

button {
  border: none;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
}

input[type=submit]:hover, button:hover {
  cursor: pointer;
}

input[type=text], input[type=tel],
input[type=email], input[type=url], input[type=password], input[type=search],
textarea {
  margin: 0;
}
input[type=text]:focus, input[type=tel]:focus,
input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, input[type=search]:focus,
textarea:focus {
  outline: none;
}

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top;
}

input[type=checkbox],
input[type=radio] {
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@font-face {
  font-family: "tele2_serif";
  src: url("../fonts/tele2_displayserif-bold.eot");
  src: url("../fonts/tele2_displayserif-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/tele2_displayserif-bold.woff") format("woff"), url("../fonts/tele2_displayserif-bold.ttf") format("truetype"), url("../fonts/tele2_displayserif-bold.svg#bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "tele2_serif";
  src: url("../fonts/tele2_displayserif-regular.eot");
  src: url("../fonts/tele2_displayserif-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/tele2_displayserif-regular.woff") format("woff"), url("../fonts/tele2_displayserif-regular.ttf") format("truetype"), url("../fonts/tele2_displayserif-regular.svg#regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "tele2_sans";
  src: url("../fonts/tele2_textsans-bold.eot");
  src: url("../fonts/tele2_textsans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/tele2_textsans-bold.woff") format("woff"), url("../fonts/tele2_textsans-bold.ttf") format("truetype"), url("../fonts/tele2_textsans-bold.svg#tele2_textsansbold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "tele2_sans";
  src: url("../fonts/tele2_textsans-regular.eot");
  src: url("../fonts/tele2_textsans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/tele2_textsans-regular.woff") format("woff"), url("../fonts/tele2_textsans-regular.ttf") format("truetype"), url("../fonts/tele2_textsans-regular.svg#tele2_textsans_regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "tele2_short";
  src: url("../fonts/Tele2DisplaySerif-Bold-short__W.eot");
  src: url("../fonts/Tele2DisplaySerif-Bold-short__W.eot?#iefix") format("embedded-opentype"), url("../fonts/Tele2DisplaySerif-Bold-short__W.woff") format("woff"), url("../fonts/Tele2DisplaySerif-Bold-short__W.ttf") format("truetype"), url("../fonts/Tele2DisplaySerif-Bold-short__W.svg#Tele2DisplaySerif-Bold-short__W") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "stencil";
  src: url("../fonts/stencil/StandardCTStencil-Bold.woff") format("woff"), url("../fonts/stencil/StandardCTStencil-Bold.woff2") format("woff2"), url("../fonts/stencil/standardctstencil_bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.h1,
h1 {
  font-size: 3.8rem;
  line-height: 4.2rem;
}

.h5,
h5 {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

h2 {
  font-size: 5.2rem;
  line-height: 5.4rem;
  font-weight: bold;
  font-family: "tele2_serif";
  margin: 0 0 3.6rem;
  color: #1f2229;
}
@media (max-width: 600px) {
  h2 {
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin: 0 0 1.8rem;
  }
}

h3 {
  font-size: 3.8rem;
  line-height: 4.4rem;
  font-weight: bold;
  font-family: "tele2_serif";
  color: #1f2229;
  margin: 0 0 3.6rem;
}
@media (max-width: 600px) {
  h3 {
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin-bottom: 2.4rem;
  }
}

h4 {
  font-size: 2.4rem;
  line-height: 1;
  color: #1f2229;
}
@media (max-width: 600px) {
  h4 {
    font-size: 1.8rem;
  }
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
.link:hover {
  text-decoration: none;
}

.subtitle {
  font-size: 2.2rem;
  line-height: 2.8rem;
}

p {
  line-height: 1.38;
  margin-bottom: 1.8rem;
  margin-top: 0;
}
p a {
  text-decoration: underline;
  color: #1f2229;
}

@media (max-width: 600px) {
  .br-desktop {
    display: none;
  }
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.list {
  padding-left: 0;
  line-height: 1.38;
  list-style: none;
}
ul.list li {
  margin-bottom: 0.5em;
}
ul.list li:before {
  margin-right: 0.64em;
  width: 0.31em;
  height: 0.31em;
  background: #1f2229;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -0.1em;
  content: "";
}

ol.list {
  padding-left: 0;
  line-height: 1.38;
  counter-reset: list;
  list-style: none;
}
ol.list li {
  margin-bottom: 0.8rem;
}
ol.list li:before {
  counter-increment: list;
  content: counter(list) ".";
  display: inline-block;
  margin-right: 0.5rem;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

body {
  color: #1f2229;
  background: inherit;
  font: 1.6rem/1.375 tele2_short, sans-serif;
  -webkit-text-size-adjust: none;
}
body.noscroll {
  overflow: hidden !important;
}
body .page {
  padding-top: 0;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page {
  background: #1f2229;
  transition: 0.2s;
}

.wow {
  opacity: 0;
}
.wow.animated {
  opacity: 1;
}

.svgs {
  height: 0;
  visibility: hidden;
  position: absolute;
  z-index: -6;
  pointer-events: none;
}

.container, .section-layer {
  max-width: 84%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px;
}
@media all and (max-width: 1440px) {
  .container, .section-layer {
    max-width: 88%;
  }
}
@media all and (max-width: 600px) {
  .container, .section-layer {
    max-width: 100%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }
  80% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  80% {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInDownBig {
  -webkit-animation-name: fadeInDownBig;
  animation-name: fadeInDownBig;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideOutLeft {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
}
.btn, button {
  outline: none;
  user-select: none;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 1.7rem 4.3rem;
  margin: 0 0 1.8rem;
  text-align: center;
  font-family: "tele2_sans";
  font-size: 1.6rem;
  line-height: 1.38;
  font-weight: bold;
  letter-spacing: 0.05rem;
  white-space: nowrap;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  min-width: 12.5rem;
  max-width: 100%;
  border-radius: 3rem;
  border: 0.2rem solid #1f2229;
  color: #1f2229;
  background-color: transparent;
  transition: 0.3s;
}
.btn:hover {
  background-color: transparent;
  border-color: #626469;
  color: #626469;
}
.btn:active {
  transform: scale(0.96);
}
.btn.btn--small {
  padding: 0.7rem 1.8rem !important;
}
.btn.btn--medium {
  padding: 1.1rem 2.9rem;
}
.btn .ico {
  font-size: 2.4rem;
  width: 2.8rem;
  height: 2rem;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: -0.2rem;
  margin-top: -0.4rem;
  margin-left: -1.5rem;
}
.btn .ico + span {
  line-height: 2rem;
  vertical-align: middle;
  display: inline-block;
}
@media (max-width: 440px) {
  .btn {
    padding: 1.1rem 2.9rem;
  }
  .btn.btn--small {
    padding: 0.7rem 1.8rem;
  }
}

.btn.btn-active-action, .btn.btn-black, .btn.btn--black, .btn.btn-primary, .btn.btn--primary .btn-main {
  color: #fff;
  background: #1f2229;
}
.btn.btn-active-action:hover, .btn.btn-black:hover, .btn.btn--black:hover, .btn.btn-primary:hover, .btn.btn--primary .btn-main:hover {
  background: #626469;
  border-color: #626469;
  color: #fff;
}
.btn.btn-active-action.disabled, .btn.btn-active-action:disabled, .btn.btn-black.disabled, .btn.btn-black:disabled, .btn.btn--black.disabled, .btn.btn--black:disabled, .btn.btn-primary.disabled, .btn.btn-primary:disabled, .btn.btn--primary .btn-main.disabled, .btn.btn--primary .btn-main:disabled {
  color: #8f9399;
  background: #1f2229;
  border-color: #1f2229;
}

.btn-secondary {
  background: #fff;
}
.btn-secondary:hover {
  background: #ffda57;
  color: #1f2229;
  border-color: #ffda57;
}

.btn-yellow, .btn--yellow {
  background: #ffda57;
  border-color: #ffda57;
  color: #1f2229;
}
.btn-yellow:hover, .btn--yellow:hover {
  background: #ffe538;
  border-color: #ffe538;
  color: #1f2229;
}
.btn-yellow.disabled, .btn-yellow:disabled, .btn--yellow.disabled, .btn--yellow:disabled {
  opacity: 0.5;
  cursor: default;
}
.btn-yellow.disabled:hover, .btn-yellow:disabled:hover, .btn--yellow.disabled:hover, .btn--yellow:disabled:hover {
  background: #ffda57;
}

.dark-bg .btn {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.dark-bg .btn:hover {
  color: #8f9399;
  border-color: #8f9399;
}
.dark-bg .btn.disabled, .dark-bg .btn:disabled {
  color: #8f9399;
  background: transparent;
  border-color: #8f9399;
  cursor: default !important;
}
.dark-bg .btn.btn--black, .dark-bg .btn.btn-black, .dark-bg .btn.btn-main, .dark-bg .btn.btn-primary {
  background-color: #fff;
  border-color: #fff;
  color: #1f2229;
}
.dark-bg .btn.btn--black:hover, .dark-bg .btn.btn-black:hover, .dark-bg .btn.btn-main:hover, .dark-bg .btn.btn-primary:hover {
  opacity: 0.6;
}

.text-gray {
  color: #626469;
}

.text-link {
  text-decoration: underline;
  cursor: pointer;
}
.text-link:hover {
  text-decoration: none;
}

.link-gray {
  color: #8f9399;
  border-color: #8f9399;
}

.link--dashed {
  border-bottom: 1px dashed #626469;
  text-decoration: none;
}

.link--underline {
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  cursor: pointer;
}

.section-layer {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-bottom: 8rem;
  padding-top: 6.4rem;
}
@media (max-width: 600px) {
  .section-layer {
    padding: 3.6rem 1.8rem;
  }
}

.section--gradient {
  position: relative;
  background-color: #1f2229;
  color: #ffffff;
}

.section--how {
  background-color: #1f2229;
  color: #ffffff;
}
.section--how .section-layer {
  padding-top: 2.5rem;
  padding-bottom: 1.8rem;
}
@media (min-width: 601px) {
  .section--how .section-layer {
    padding-top: 0;
  }
}
@media (max-width: 600px) {
  .section--how .section-layer:before {
    content: "";
    display: block;
    position: absolute;
  }
}

.section--battery {
  background-color: #1f2229;
}
.section--battery .section-layer {
  padding-top: 2.1rem;
  padding-bottom: 1.6rem;
}

.section--description {
  color: #ffffff;
}
.section--description .section-layer {
  padding-top: 3rem;
}
@media (min-width: 601px) {
  .section--description .section-layer {
    padding-bottom: 4.6rem;
  }
}

.section--autopayment {
  color: #ffffff;
  position: relative;
}
.section--autopayment .section-layer {
  padding-top: 0.8rem;
}
@media (min-width: 601px) {
  .section--autopayment .section-layer {
    padding-bottom: 15rem;
  }
}
.section--autopayment::before {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  bottom: 0;
  width: 152px;
  height: 144px;
  background-image: url("../img/lines-mobile.png");
  z-index: 1;
}
@media (min-width: 601px) {
  .section--autopayment::before {
    display: none;
  }
}

.section--download-app .section-layer {
  padding-top: 4.6rem;
  padding-bottom: 4.3rem;
}
@media (min-width: 601px) {
  .section--download-app .section-layer {
    padding-top: 8rem;
    padding-bottom: 14rem;
  }
}

.section--footer .section-layer {
  padding: 2.4rem 1.8rem;
}
@media (min-width: 601px) {
  .section--footer .section-layer {
    padding: 3rem 1.8rem;
  }
}

.teaser {
  position: relative;
  z-index: 5;
}
.platform_ios .teaser .video-layer {
  background: url("../video/fallback-ios@2x.jpg") no-repeat;
  background-size: 120%;
  background-position: 50% 0;
}
.platform_ios .teaser .video-layer video {
  opacity: 0;
  transition: opacity 0.2s linear;
}
.platform_ios .teaser .video-layer video.is_started {
  opacity: 1;
}
.teaser .video-layer {
  overflow: hidden;
  min-height: 40rem;
  height: 50vw;
}
.teaser .video-layer video {
  position: relative;
  margin: 0;
  display: block;
  object-fit: cover;
  min-height: 100%;
  height: 100%;
}
.teaser .teaser-heading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  padding-top: 1.8rem;
  transform: translateY(0);
}
.teaser .logo {
  width: auto;
  display: block;
  max-width: 6.4rem;
}
.teaser .logo img {
  max-width: 100%;
  display: block;
}
.teaser .teaser-body {
  margin-top: -10.7rem;
  bottom: -13rem;
}
.teaser .teaser-body .container, .teaser .teaser-body .section-layer {
  background-color: transparent;
}
.teaser .teaser-body__text {
  padding: 2rem;
  color: #fff;
  background: #000;
  box-shadow: none;
  position: relative;
}
@media (min-width: 601px) {
  .teaser .teaser-body__text {
    padding: 1.8rem;
  }
}
.teaser .bigtext {
  font-family: "stencil";
  text-transform: uppercase;
  font-size: 3.4rem;
  line-height: 4rem;
  margin-bottom: 1.8rem;
}
.teaser .subtext {
  font-family: "tele2_sans", "serif";
  font-size: 1.9rem;
  line-height: 2.5rem;
  margin-bottom: 3.4rem;
}
@media (min-width: 600px) {
  .teaser .subtext {
    font-size: 2.2rem;
    line-height: 2.8rem;
  }
}
.teaser .teaser-more {
  display: block;
  color: #fff;
  font: bold 1.6rem "tele2_sans";
  background: none;
  border: none;
  padding: 0;
  text-transform: uppercase;
  position: absolute;
  top: calc(50% - 1.5rem);
  transform: rotate(-90deg);
  right: 0rem;
}
.teaser .teaser-more span {
  display: none;
}
.teaser .icon-field-opener {
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
}
@media (min-width: 600px) {
  .teaser .video-layer {
    overflow: hidden;
    height: 50rem;
  }
  .teaser .teaser-heading {
    padding-top: 2.2rem;
  }
  .teaser .logo {
    width: auto;
    display: block;
    max-width: 9.4rem;
  }
  .teaser .logo img {
    max-width: 100%;
    display: block;
  }
  .teaser .teaser-body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2rem;
    z-index: 2;
    margin-bottom: -1px;
  }
  .teaser .teaser-body .container, .teaser .teaser-body .section-layer {
    padding: 0;
  }
  .teaser .teaser-body__text {
    color: #fff;
    padding-bottom: 4.3rem;
    text-shadow: 0 0 0.8em rgba(0, 0, 0, 0.3);
    background-color: transparent;
  }
}
@media (min-width: 600px) and (min-width: 601px) {
  .teaser .teaser-body__text {
    padding-bottom: 5.3rem;
  }
}
@media (min-width: 600px) {
  .teaser .teaser-body__text span {
    display: block;
  }
  .teaser .teaser-body__text .bigtext {
    font-family: "stencil";
    text-transform: uppercase;
    width: 55rem;
    max-width: 100%;
    line-height: 1.22;
    font-size: 5.4rem;
    margin-bottom: 0rem;
  }
  .teaser .teaser-body__text .subtext {
    font-family: "tele2_sans";
  }
  .teaser .teaser-body__text p {
    font-size: 2.2rem;
    display: block;
    margin: 1.5rem 0 3.6rem;
  }
  .teaser .teaser-body__text .teaser-more {
    display: block;
    color: #fff;
    font: bold 1.6rem "tele2_sans";
    background: none;
    border: none;
    padding: 0;
    text-transform: uppercase;
    position: static;
    transform: none;
    display: flex;
  }
  .teaser .teaser-body__text .icon-field-opener {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5rem;
  }
}

.gradient-gb {
  display: block;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  user-select: none;
}
.gradient-gb img {
  display: block;
  width: 100%;
}
.gradient-gb--1 {
  width: 4rem;
  bottom: 38%;
  left: -2%;
  transform: rotate(45deg);
}
.gradient-gb--2 {
  bottom: 24%;
  width: 7rem;
  left: 1rem;
}
.gradient-gb--3 {
  top: 2.6rem;
  right: -0.2rem;
  width: 7rem;
  transform: rotate(45deg);
}
.gradient-gb--4 {
  z-index: 2;
  right: -1.7rem;
  bottom: 22%;
  transform: rotate(45deg);
  width: 10rem;
}
@media (min-width: 601px) {
  .gradient-gb {
    display: none;
  }
}

.gradient-block {
  font-family: "tele2_sans", "serif";
}
@media (min-width: 601px) {
  .gradient-block {
    width: 94.9rem;
    margin: 0 auto;
    position: relative;
  }
}
.gradient-block__body {
  padding-bottom: 3.6rem;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  border-radius: 1.6rem;
  backdrop-filter: blur(2rem);
}
.gradient-block__body::before, .gradient-block__body::after {
  display: none;
}
@media (min-width: 601px) {
  .gradient-block__body {
    padding: 5.4rem 0;
  }
  .gradient-block__body::after {
    position: absolute;
    display: block;
    content: "";
    left: 50%;
    top: -1rem;
    width: 38.8rem;
    height: 2rem;
    border-radius: 90%;
    background: radial-gradient(#fff -25%, #29a6ef 95%);
    filter: blur(1.5rem);
    transform: translateX(-50%);
  }
  .gradient-block__body::before {
    position: absolute;
    display: block;
    content: "";
    left: 50%;
    bottom: -1rem;
    width: 38.8rem;
    height: 2rem;
    border-radius: 90%;
    background: radial-gradient(#fff -25%, #29a6ef 99%);
    filter: blur(1.5rem);
    transform: translateX(-50%);
  }
}
.gradient-block__body-helper::before, .gradient-block__body-helper::after {
  display: none;
}
@media (min-width: 601px) {
  .gradient-block__body-helper::after {
    position: absolute;
    display: block;
    content: "";
    left: -1rem;
    top: 50%;
    width: 2rem;
    height: 28.7rem;
    border-radius: 90%;
    background: radial-gradient(#fff -25%, #29a6ef 95%);
    filter: blur(1.5rem);
    transform: translateY(-50%);
  }
  .gradient-block__body-helper::before {
    position: absolute;
    display: block;
    content: "";
    right: -1rem;
    top: 50%;
    width: 2rem;
    height: 28.7rem;
    border-radius: 90%;
    background: radial-gradient(#fff -25%, #29a6ef 95%);
    filter: blur(1.5rem);
    transform: translateY(-50%);
  }
}
.gradient-block__text {
  font-size: 1.9rem;
  text-align: left;
  padding: 2.4rem 2rem 0 1.8rem;
  line-height: 1.26;
}
@media (min-width: 601px) {
  .gradient-block__text {
    padding: 0;
    max-width: 72.3rem;
    margin: 0 auto;
    text-align: center;
    font-size: 2.2rem;
    position: relative;
  }
}
.gradient-block__text-1 {
  padding-bottom: 3.6rem;
}
@media (min-width: 601px) {
  .gradient-block__text-1 {
    padding: 0;
    margin-bottom: 3rem;
  }
}
.gradient-block__text-2 {
  margin-bottom: 2.4rem;
}
@media (min-width: 601px) {
  .gradient-block__text-2 {
    margin-bottom: 3.7rem;
  }
}
.gradient-block__button {
  line-height: 1.22;
  padding: 1.3rem 3.5rem;
  border-radius: 2.4rem;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 19.6rem;
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "tele2_sans", "serif";
}
@media (min-width: 601px) {
  .gradient-block__button {
    padding: 1.9rem 4.5rem;
    border-radius: 3rem;
    cursor: pointer;
  }
}

.button--light {
  color: #1f2229;
  background-color: #ffffff;
}

.how {
  max-width: 86%;
  z-index: 1;
}
@media (min-width: 601px) {
  .how {
    max-width: 66.5rem;
    margin: 0 auto;
    position: relative;
  }
}
.how__title {
  font-family: "tele2_serif", "serif";
  text-align: left;
  font-size: 2.8rem;
  line-height: 1.34;
  margin: 0 0 1.8rem 0;
}
@media (min-width: 601px) {
  .how__title {
    text-align: center;
    font-size: 3.8rem;
    position: relative;
    margin-bottom: 2.4rem;
  }
}
.how p {
  text-align: left;
  font-size: 1.9rem;
  font-family: "tele2_sans", "serif";
  line-height: 1.3;
  margin: 0;
}
@media (min-width: 601px) {
  .how p {
    text-align: center;
    font-size: 2.2rem;
    line-height: 1.28;
  }
}
.how__gb--5 {
  width: 6.8rem;
  top: 14%;
  right: 1rem;
}

.section-battery {
  position: relative;
  padding-right: 0;
  z-index: 0;
}
.section-battery .image {
  position: absolute;
  transform-origin: top left;
  transform: rotate(-80deg);
  width: 250vw;
  top: 1.5rem;
  left: 19.5rem;
  max-width: 82rem;
}
@media (min-width: 601px) {
  .section-battery .image {
    display: block;
    transform: none;
    top: -0.5rem;
    left: 40.5rem;
    z-index: 0;
    width: 100vw;
    height: 20rem;
    max-width: none;
  }
}
.section-battery .image__desktop {
  display: block;
}
.section-battery .image .img {
  width: 100%;
  max-height: 100%;
}
.section-battery .battery {
  padding-top: 0;
}
@media (min-width: 601px) {
  .section-battery .battery {
    padding-top: 5.7rem;
    position: relative;
  }
}
.section-battery .battery__main {
  display: flex;
  align-items: center;
  padding-left: 1.3rem;
}
.section-battery .battery__body {
  max-width: 100%;
  width: auto;
  background-color: #1f2229;
}
@media (min-width: 601px) {
  .section-battery .battery__body {
    width: 42.1rem;
    z-index: 1;
    position: relative;
  }
}
@media (min-width: 601px) {
  .section-battery .battery__lines {
    position: absolute;
    top: 2.8rem;
    left: 42rem;
  }
}
.section-battery .battery__logo {
  max-width: 28.2rem;
  border: 0.15rem solid lightblue;
  border-radius: 1.4rem;
  position: relative;
  background-color: #1f2229;
  z-index: 1;
}
.section-battery .battery__logo::after {
  position: absolute;
  width: 15rem;
  height: 0.4rem;
  bottom: -0.2rem;
  right: 2.5rem;
  content: "";
  display: block;
  background: radial-gradient(#FAFAFA, #3FCBFF);
  border-radius: 90%;
  filter: blur(0.15rem);
}
.section-battery .battery__logo::before {
  position: absolute;
  width: 15rem;
  height: 0.4rem;
  top: -0.2rem;
  left: 2.5rem;
  content: "";
  display: block;
  background: radial-gradient(#FAFAFA, #3FCBFF);
  border-radius: 90%;
  filter: blur(0.15rem);
}
@media (min-width: 601px) {
  .section-battery .battery__logo {
    max-width: 38.9rem;
    border: 0.3rem solid #3bbded;
    box-shadow: 0 0 0.5rem #3bbded;
    background-color: #1f2229;
    z-index: 1;
  }
}
.section-battery .battery__logo-tail {
  height: 6.8rem;
  width: 2.4rem;
  border-top: 0.15rem solid #3bbded;
  border-right: 0.15rem solid #3bbded;
  border-bottom: 0.15rem solid #3bbded;
  border-radius: 0 1.4rem 1.4rem 0;
  box-shadow: 0 0 0.5rem #3bbded;
}
@media (min-width: 601px) {
  .section-battery .battery__logo-tail {
    height: 9.1rem;
    width: 3.2rem;
    border-top: 0.3rem solid #3bbded;
    border-right: 0.3rem solid #3bbded;
    border-bottom: 0.3rem solid #3bbded;
    background-color: #1f2229;
    z-index: 1;
  }
}
@media (min-width: 601px) {
  .section-battery .battery__logo::before {
    top: -0.5rem;
    left: 5rem;
    width: 25rem;
    height: 0.7rem;
  }
}
@media (min-width: 601px) {
  .section-battery .battery__logo::after {
    bottom: -0.5rem;
    right: 5rem;
    width: 25rem;
    height: 0.7rem;
  }
}
.section-battery .battery__logo-container {
  display: flex;
  column-gap: 1.6rem;
  margin: 1.4rem 3.4rem;
}
@media (min-width: 601px) {
  .section-battery .battery__logo-container {
    column-gap: 2rem;
    margin: 2.4rem 5.1rem;
  }
}
.section-battery .battery__logo-small {
  width: 6.1rem;
  height: 9.9rem;
  border-radius: 1rem;
  border: 0.15rem solid #3bbded;
}
@media (min-width: 601px) {
  .section-battery .battery__logo-small {
    width: 8.4rem;
    height: 13.5rem;
    border-radius: 1.4rem;
  }
}
.section-battery .battery-gb {
  display: none;
}
@media (min-width: 601px) {
  .section-battery .battery-gb {
    display: block;
    position: absolute;
    pointer-events: none;
    user-select: none;
  }
  .section-battery .battery-gb img {
    display: block;
    width: 100%;
  }
  .section-battery .battery-gb--1 {
    width: 4rem;
    bottom: 20rem;
    right: -100%;
    transform: rotate(45deg);
  }
  .section-battery .battery-gb--2 {
    width: 4rem;
    bottom: 20rem;
    right: -50%;
    transform: rotate(-90deg);
  }
  .section-battery .battery-gb--3 {
    width: 4rem;
    bottom: 19rem;
    right: -150%;
    transform: rotate(-20deg);
  }
  .section-battery .battery-gb--4 {
    width: 6rem;
    bottom: 10rem;
    right: -88%;
    transform: rotate(35deg);
  }
  .section-battery .battery-gb--5 {
    width: 8rem;
    bottom: 19rem;
    right: -222%;
    transform: rotate(40deg);
  }
  .section-battery .battery-gb--6 {
    width: 5rem;
    bottom: 9rem;
    right: -55%;
    transform: rotate(55deg);
  }
  .section-battery .battery-gb--7 {
    width: 7rem;
    bottom: 12rem;
    right: -130%;
    transform: rotate(69deg);
  }
}
.section-battery .battery--fulfilled {
  background-image: linear-gradient(#8DE0FF, #3FCBFF);
}
.section-battery .battery__list {
  display: flex;
  justify-content: space-around;
  background-color: #1f2229;
  z-index: 1;
  padding-top: 1.8rem;
}
.section-battery .battery__list-item {
  font-size: 2rem;
  line-height: 1.26;
  font-family: "tele2_sans", "serif";
  font-weight: 700;
  text-align: center;
  width: 7.1rem;
}
@media (min-width: 601px) {
  .section-battery .battery__list-item {
    font-size: 2.4rem;
    width: 8.6rem;
  }
}
.section-battery .battery__list-item .active {
  color: #3FCBFF;
}
.section-battery .battery__list-link {
  max-width: 7.1rem;
  color: #626469;
}
@media (min-width: 601px) {
  .section-battery .battery__list-link {
    display: inline-block;
    max-width: 8.6rem;
  }
}
.description__block {
  min-width: 33.9rem;
  background-color: #2F333D;
  border-radius: 1.6rem;
  display: flex;
  position: relative;
  font-family: "tele2_sans", "serif";
  padding: 2.4rem 1.8rem 3.6rem;
}
@media (min-width: 601px) {
  .description__block {
    width: 100%;
    padding: 3.6rem 6.4rem;
  }
  .description__block::before {
    display: none;
  }
}
.description__block-wrapper {
  position: absolute;
  width: 13rem;
  bottom: -11%;
  right: -3rem;
}
@media (min-width: 601px) {
  .description__block-wrapper {
    max-width: 40%;
    width: 40%;
    flex-basis: 100%;
    justify-content: center;
    display: flex;
    position: relative;
    bottom: auto;
    right: auto;
  }
  .description__block-wrapper::after {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25.9rem;
    height: 25rem;
    border-radius: 50%;
    background-color: rgba(63, 203, 255, 0.1);
    filter: blur(2rem);
  }
}
.description__block-lightning {
  max-width: 100%;
}
@media (min-width: 601px) {
  .description__block-lightning {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
.description__block-text {
  max-width: 78rem;
  font-size: 1.9rem;
  line-height: 1.26;
}
@media (min-width: 601px) {
  .description__block-text {
    font-size: 2.2rem;
    width: 60%;
    padding: 0;
  }
}
.description__block-p1 {
  margin-bottom: 3.2rem;
}
.description__block-button {
  display: flex;
  margin: 0 auto;
  max-width: 17.6rem;
  border-radius: 2.4rem;
  padding: 1.3rem 3.5rem;
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "tele2_sans", "serif";
}
@media (min-width: 601px) {
  .description__block-button {
    margin: 0;
    border-radius: 3rem;
    max-width: 19.6rem;
    padding: 1.9rem 4.5rem;
    cursor: pointer;
    border: none;
  }
}

.connect__autopayment {
  background-color: #1f2229;
  margin: 0;
  z-index: 1;
  padding: 2.4rem 1.8rem 3.6rem 1.8rem;
  flex-direction: column;
  border: 0.1rem solid #D7F4FF;
  border-radius: 1.6rem;
  display: flex;
  box-shadow: 0 0 2rem 0.1rem #233642;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 601px) {
  .connect__autopayment {
    padding: 3.6rem 6.4rem 4.1rem;
    width: 100%;
    flex-direction: row;
  }
}
.connect__autopayment-description {
  max-width: 64.1rem;
}
.connect__autopayment-description::after {
  position: absolute;
  display: block;
  content: "";
  bottom: -3.3rem;
  left: -1.5rem;
  width: 98px;
  height: 118px;
  background-image: url("../img/fly-gb-mobile.png");
}
@media (min-width: 601px) {
  .connect__autopayment-description::after {
    display: none;
  }
}
.connect__autopayment-description p {
  font-size: 1.9rem;
  line-height: 1.26;
  font-family: "tele2_sans", "serif";
  margin-bottom: 2.4rem;
}
@media (min-width: 601px) {
  .connect__autopayment-description p {
    font-size: 2.2rem;
    line-height: 1.28;
    margin-top: 2.4rem;
  }
}
.connect__autopayment-title {
  font-size: 2.8rem;
  line-height: 1.34;
  color: #ffffff;
}
.connect__autopayment-image {
  display: none;
}
@media (min-width: 601px) {
  .connect__autopayment-image {
    display: block;
    z-index: 1;
    position: relative;
  }
}
.connect__autopayment-image--pseudo-image-helper {
  position: relative;
  padding: 0 5rem;
}
@media (min-width: 601px) {
  .connect__autopayment-image--pseudo-image-helper::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 5rem;
    width: 121px;
    height: 117px;
    border-radius: 50%;
    background-color: #325164;
    filter: blur(4rem);
  }
}
.connect__autopayment-button {
  margin: 0 auto;
  padding: 1.3rem 3.5rem;
  line-height: 1.22;
  max-width: fit-content;
  border: 0.2rem solid #ffffff;
  background-color: #1f2229;
  border-radius: 3rem;
  color: #ffffff;
  font-family: "tele2_sans";
  font-size: 1.6rem;
  font-weight: 700;
  max-height: 6rem;
}
@media (min-width: 601px) {
  .connect__autopayment-button {
    margin: 0;
    min-width: 18.1rem;
    padding: 1.9rem 4.5rem;
    cursor: pointer;
  }
}

.download-app {
  background-color: #ffffff;
}
.download-app__inner {
  flex-direction: column;
  display: flex;
}
@media (min-width: 601px) {
  .download-app__inner {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
.download-app__description {
  font-size: 1.9rem;
  max-width: 66.2rem;
  color: #1f2229;
  font-family: "tele2_sans", "serif";
  margin-bottom: 4.6rem;
}
@media (min-width: 601px) {
  .download-app__description {
    font-size: 2.2rem;
    max-width: 50%;
    margin-right: 10vw;
  }
}
.download-app__description p {
  margin: 0;
}
.download-app__description p:first-of-type {
  margin-bottom: 3.4rem;
}
.download-app__title {
  font-family: "tele2_serif", serif;
  font-size: 2.8rem;
  line-height: 1.33;
}
@media (min-width: 601px) {
  .download-app__title {
    font-size: 3.8rem;
    line-height: 1.44;
  }
}
.download-app__list {
  margin: 0;
  padding-left: 2rem;
  list-style: decimal;
}
.download-app__qr-image {
  display: none;
}
@media (min-width: 601px) {
  .download-app__qr-image {
    display: block;
  }
}
.download-app__phone-image {
  height: 22.5rem;
  margin: 0 auto;
  margin-bottom: 3.6rem;
  overflow: hidden;
}
.download-app__phone-image img {
  display: block;
  width: 100%;
}
@media (min-width: 601px) {
  .download-app__phone-image {
    max-width: 20%;
    object-fit: none;
    height: auto;
    width: auto;
    margin: 0;
  }
}
.download-app__text3 {
  font-family: "tele2_sans", "serif";
  color: black;
  font-size: 2.2rem;
  margin: 0 auto 1.8rem auto;
}
.download-app__link {
  display: flex;
  flex-direction: column;
}
@media (min-width: 601px) {
  .download-app__link {
    flex-basis: 100%;
  }
  .download-app__link p {
    display: none;
  }
}
.download-app__appstore-link {
  margin: 0 auto;
}
.download-app__appstore-link img {
  display: block;
}
@media (min-width: 601px) {
  .download-app__appstore-link {
    display: none;
  }
}

.footer__inner {
  text-align: center;
  color: #626469;
  font-size: 1.6rem;
  font-family: "tele2_sans", "serif";
  margin: 0 auto;
}

.footer__copyright {
  margin-bottom: 0.3rem;
}

.footer__policy {
  text-decoration: underline;
  color: #626469;
}

@media (min-width: 1280px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 1700px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 2000px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 3000px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 769px) {
  html {
    font-size: 7px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 440px) {
  html {
    font-size: 10px;
  }
}
.mt-1 {
  margin-top: 0.9rem;
}

.mt-2 {
  margin-top: 1.8rem;
}

.mt-3 {
  margin-top: 2.7rem;
}

.mt-4 {
  margin-top: 3.6rem;
}

.mt-5 {
  margin-top: 4.5rem;
}

.mb-1 {
  margin-bottom: 0.9rem;
}

.mb-2 {
  margin-bottom: 1.8rem;
}

.mb-3 {
  margin-bottom: 2.7rem;
}

.mb-4 {
  margin-bottom: 3.6rem;
}

.mb-5 {
  margin-bottom: 4.5rem;
}

/*# sourceMappingURL=main.css.map */
