.connect__autopayment {
  background-color: $color-dark;
  margin: 0;
  z-index: 1;
  padding: 2.4rem 1.8rem 3.6rem 1.8rem;
  flex-direction: column;
  border: 0.1rem solid #D7F4FF;
  border-radius: 1.6rem;
  display: flex;
  box-shadow: 0 0 2rem 0.1rem #233642;
  position: relative;
  justify-content: space-between;
  align-items: center;


  @include mobile-above {
    padding: 3.6rem 6.4rem 4.1rem;
    width: 100%;
    flex-direction: row;
  }

  &-description {
    max-width: 64.1rem;

    &::after {
      position: absolute;
      display: block;
      content: "";
      bottom: -3.3rem;
      left: -1.5rem;
      width: 98px;
      height: 118px;
      background-image: url("../img/fly-gb-mobile.png");

      @include mobile-above {
        display: none;
      }
    }



    p {
      font-size: 1.9rem;
      line-height: 1.26;
      font-family: $font1, 'serif';
      margin-bottom: 2.4rem;

      @include mobile-above {
        font-size: 2.2rem;
        line-height: 1.28;
        margin-top: 2.4rem;
      }
    }
  }

  &-title {
    font-size: 2.8rem;
    line-height: 1.34;
    color: $color-white;
  }

  &-image {
    display: none;
    @include mobile-above {
      display: block;
      z-index: 1;
      position: relative;

    }

    &--pseudo-image-helper {
      position: relative;
      padding: 0 5rem;

      @include mobile-above {
        &::before {
          position: absolute;
          display: block;
          content: "";
          top: 0;
          right: 5rem;
          width: 121px;
          height: 117px;
          border-radius: 50%;
          background-color: #325164;
          //блюр создает странный черный ореол по краям блока
          filter: blur(4rem);
        }
      }
    }
  }

  &-button {
    margin: 0 auto;
    padding: 1.3rem 3.5rem;
    line-height: 1.22;
    max-width: fit-content;
    border: 0.2rem solid $color-white;
    background-color: $color-dark;
    border-radius: 3rem;
    color: $color-white;
    font-family: $font1;
    font-size: 1.6rem;
    font-weight: 700;
    max-height: 6rem;

    @include mobile-above {
      margin: 0;
      min-width: 18.1rem;
      padding: 1.9rem 4.5rem;
      cursor: pointer;
    }
  }
}
