.footer__inner {
  text-align: center;
  color: $color-gray;
  font-size: 1.6rem;
  font-family: $font1, 'serif';
  margin: 0 auto;
}

.footer__copyright {
  margin-bottom: 0.3rem;
}

.footer__policy {
  text-decoration: underline;
  color: $color-gray;

}
